* {
  background-color: beige;
}

div {
  color: blue;
  margin: auto;
  text-align: center;
  margin-left: 200px;
  
}

p {
  color: rgb(83, 126, 219);
  margin: auto;
  text-align: center;
  margin-left: 200px;
  
}

ul {
  display: flex;
  align-content: center;
  color: blue;
  margin: auto;
  text-align: center;
  margin-left: 200px;
}

li {
  display: flex;
  color: blue;
  margin-right: 150px;
}

h1 {
  color: rgb(83, 126, 219);
  text-align: center;
  margin-left: 200px;
  text-shadow: #FC0 1px 0 10px;
}

h2 {
  color:rgb(56, 84, 134);
  font-family: cursive;
  text-shadow: #FC0 1px 0 10px;
}

.App {
  border: solid brown;
  border-radius: 10%;
}
